<div class="container">

  <div class="process-block">
  </div>

  <div class="title-block">
    <div class="title text-center">
      Create Account
    </div>
    <div class="subTitle  text-center">
      Glad to see you here!
    </div>

  </div>

  <div class="form-group">
    <label class="fieldName" for="email">Account</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" [class.is-invalid]="isCheckedEmail" (blur)="checkEmail($event.target.value)">
    <div class="invalid-feedback">
      填寫e-mail，需有@和.
    </div>
  </div>

  <div class="form-group">
    <label class="fieldName" for="password">Password</label>
    <input type="text" class="form-control" id="password" autocomplete="off" [class.is-invalid]="isCheckedPassword" (blur)="checkPassword($event.target.value)" #password>
    <div class="invalid-feedback">
      密碼須超過 8 碼
    </div>
  </div>

  <div class="form-group">
    <label class="fieldName" for="checkPassword">Comfirm Password</label>
    <input type="text" class="form-control" id="checkPassword" [class.is-invalid]="isCheckedRePassword" (blur)="checkRePassword(password , $event.target.value)">
    <div class="invalid-feedback">
      確認密碼與上列不相符合
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary blue-btn" (click)="checkProcess1()">Submit</button>
  </div>

</div>
