body {
  font-family: Microsoft JhengHei, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
  font-family: Roboto-Light;
  font-size: 48px;
  color: #000000;
}

.subTitle {
  font-family: Roboto-Light;
  font-size: 24px;
  color: #000000;
}

.fieldName {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
}

.process-block{
  height: 100px;
}

.title-block{
  height: 100px;
}

.fieldName+input{
  border:2px solid black;
}

.blue-btn{
  width: 100%;
  height: 80px ;
  color:white;
  background-color:$light-blue;
  border:none;
  margin-top: 24px;
  font-family: Roboto-Regular;
  font-size: 20px;
}
