$normal-blue:   #4A90E2 !default;
$dark-blue:   #00408B !default;

$normal-red:   #D0021B !default;

$normal-orange:   #F5A623 !default;
$light-orange:   #FFF2DC !default;

$normal-gray:#F2F2F2 !default;
$dark-gray: #757575 !default;

$light-yellow:#FFF2DC !default;
$normal-yellow:#f3e418 !default;