/* 桌機 */

@media (min-width: 980px) {
    .navbar {
        padding: 0 1rem;
    }
    .nav-link {
        padding: 1rem 1rem;
    }
    .navbar-light .navbar-nav .show>.nav-link,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        padding: 1rem 1rem;
    }
    .sm-top10{
        margin-top: 0;
    }
}

/* 平板 */

@media (min-width: 768px) and (max-width:979px) {
    .sm-top8{
        margin-top: 8px;
    }
}

/* 手機 */

@media (max-width: 767px) {
    .sm-top8{
        margin-top: 8px;
    }
}

/* For320px */

@media (max-width: 340px) {
    .sm-top8{
        margin-top: 8px;
    }
}